// Custom styles.
.dc-sidebar-ico {
    display: inline;
	margin: -3px 6px 0 2px;
    width: 13px;
    padding-top: 0px;
    vertical-align: middle;
}

#canvas {
    position: fixed;
    height: 100%;
    width: 100%;
    min-width: 980px;
    z-index: -1;
    background-color: #e6f8ff;
    // background: url('https://source.unsplash.com/user/erondu/1920x1080') center center no-repeat;
    // background-size: cover;
}

// .fluid-vids {
// 	padding-top: 0px;
// 	height: 27px;
// }